<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764603826586-g4g2rjgt7mrm0iq98u8r4h120dl4uju6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764603826586-g4g2rjgt7mrm0iq98u8r4h120dl4uju6</string>
	<key>API_KEY</key>
	<string>AIzaSyAAyRsCWgWFgVQTTgVSv3GQMnQIv7SK4l0</string>
	<key>GCM_SENDER_ID</key>
	<string>764603826586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT3178-Sav-E</string>
	<key>PROJECT_ID</key>
	<string>sav-e-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sav-e-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764603826586:ios:c074b80cca0102ce647a23</string>
</dict>
</plist>